// ENTERPRISES :: START

section#enterprises.enterprises
  .c-grid
    .enterprises__wrapper
      .enterprises__wrapper-left
        h2.enterprises__title.title.viewport-hide-js!= "Startups"
        p.enterprises__text.viewport-hide-js!= "Startups are our passion. We’ll be your partner and advisor throughout all design and development phases. Our team will work with you to build a strong, scalable mobile application quickly and affordably. We understand your challenges and the iterations needed to reach your goals, and we’ll stay with you during maintenance, upgrades and any future improvements."

      .enterprises__wrapper-right
        h2.enterprises__title.title.viewport-hide-js!= "Enterprises"
        p.enterprises__text.viewport-hide-js!= "Entering the mobile world is essential to every company’s marketing strategy. Our experienced team will help you develop the best features and highest-quality user experience to maximize revenue and customer loyalty. Creating an effective mobile presence requires broad competence; Guarana’s multiple skills make us your one-stop shop for app development."

// ENTERPRISES :: END