// MAP :: START

section#map.map
  .map__bg
    img(
      src="./img/img-bg__map.jpg"
      srcset="./img/img-bg__map@2x.jpg 2x"
      title=""
      alt=""
    )

  .c-grid
    .map__wrapper

// MAP :: END