// COMMON :: START


.header--portfolio,
.header--contact,
.header--blog,
.header--technology,
.header--concept
{
  svg {
    polyline,
    path {
      fill: $c-white;
    }
    path {
      &:last-child {
        stroke: $c-white;
      }
    }
  }

  &.header {
    background-color: $c-blackPearl;
  }

  .hamburger-inner {
    &,
    &::before,
    &::after {
      background-color: $c-white;
    }
  }

  .nav__desktop.is-show {
    background-color: $c-blackPearl;
  }

  .nav__link {
    &:hover {
      background-color: $c-aliceBlue;
      color: $c-blackPearl;
    }
  }
}


.title {
  line-height: 1.2;
  letter-spacing: 0.36px;
  color: $c-gunmetal;
  font-weight: bold;
  @include respond(es) {
    font-size: 35px;
  }
  @include respond(l) {
    font-size: 40px;
  }
  @include respond(el) {
    font-size: 46px;
  }
  @include respond(w-med) {
    font-size: 52px;
  }
  @include respond(w-max) {
    font-size: 58px;
  }


  &--medium {
    @include respond(es) {
      font-size: 35px;
    }
    @include respond(l) {
      font-size: 40px;
    }
  }
  &--large {
    font-size: 78px;
    @include respond(es) {
      font-size: 35px;
    }
    @include respond(l) {
      font-size: 40px;
    }
    @include respond(el) {
      font-size: 46px;
    }
    @include respond(w-med) {
      font-size: 52px;
    }
    @include respond(w-max) {
      font-size: 58px;
    }
    @include respond(hd) {
      font-size: 78px;
    }
  }
}


.btn {
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 38px;
  border: 2px solid $c-pattensBlue;
  background-color: transparent;
  color: $c-bermudaGrey;
  font-size: 18px;
  font-weight: 500;
  font-family: "SF-Pro-Text", sans-serif;
  @include transition(border-color, color);
  @include respond(m_m) {
    font-size: 16px;
  }


  &:hover {
    border-color: $c-gunmetal;
    color: $c-gunmetal;
    @include transition(border-color, color);

    i {
      animation-name: slideArrowRight;
    }
  }


  span {
    margin-right: 16px;
  }


  i {
    @include retina-sprite($sp-arrow-right-group);
    animation-timing-function: ease-in-out;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
  }
}
@keyframes slideArrowRight {
  from {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(50px, 0, 0);
  }
}
// COMMON :: END