// COMMON :: START


.header--portfolio,
.header--contact,
.header--blog,
.header--technology,
.header--concept,
.header--portfolioSingle
{
  svg {
    polyline,
    path {
      fill: $c-white;
    }
    path {
      &:last-child {
        stroke: $c-white;
      }
    }
  }

  &.header {
    background-color: $c-blackPearl;
  }
  &.header {
    background-color: #39357a;
  }

  .hamburger-inner {
    &,
    &::before,
    &::after {
      background-color: $c-white;
    }
  }

  .nav__desktop.is-show {
    background-color: $c-blackPearl;
  }

  .nav__link {
    &:hover,
    &.is-active {
      background-color: $c-aliceBlue;
      color: $c-blackPearl;
    }
  }
}


.title {
  line-height: 1.2;
  letter-spacing: 0.36px;
  color: $c-gunmetal;
  font-weight: bold;
  @include respond(es) {
    font-size: 35px;
  }
  @include respond(l) {
    font-size: 40px;
  }
  @include respond(el) {
    font-size: 46px;
  }
  @include respond(w-med) {
    font-size: 52px;
  }
  @include respond(w-max) {
    font-size: 58px;
  }


  &--medium {
    @include respond(es) {
      font-size: 35px;
    }
    @include respond(l) {
      font-size: 40px;
    }
  }
  &--wide {
    @include respond(es) {
      font-size: 35px;
    }
    @include respond(l) {
      font-size: 40px;
    }
    @include respond(el) {
      font-size: 44px;
    }
    @include respond(w-min) {
      font-size: 48px;
    }
  }
  &--large {
    @include respond(es) {
      font-size: 38px;
    }
    @include respond(l) {
      font-size: 45px;
    }
    @include respond(el) {
      font-size: 52px;
    }
    @include respond(w-med) {
      font-size: 58px;
    }
    @include respond(w-max) {
      font-size: 68px;
    }
    @include respond(hd) {
      font-size: 78px;
    }
  }
  &--elarge {
    @include respond(es) {
      font-size: 41px;
    }
    @include respond(l) {
      font-size: 47px;
    }
    @include respond(el) {
      font-size: 54px;
    }
    @include respond(w-med) {
      font-size: 60px;
    }
    @include respond(w-max) {
      font-size: 70px;
    }
    @include respond(hd) {
      font-size: 80px;
    }
  }
}


.btn {
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 38px;
  border: 2px solid $c-pattensBlue;
  background-color: transparent;
  color: $c-bermudaGrey;
  font-size: 18px;
  font-weight: 500;
  font-family: "SF-Pro-Text", sans-serif;
  @include transition(border-color, color);
  @include respond(m_m) {
    font-size: 16px;
  }


  &:hover {
    border-color: $c-gunmetal;
    color: $c-gunmetal;
    @include transition(border-color, color);

    i {
      animation-name: slideArrowRight;
    }
  }


  span {
    margin-right: 16px;
  }


  i {
    @include retina-sprite($sp-arrow-right-group);
    animation-timing-function: ease-in-out;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    @include transition(opacity);
  }
}
@keyframes slideArrowRight {
  from {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(50px, 0, 0);
  }
}


.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;


  &__field {
    position: relative;
    min-height: 69px;
    margin-bottom: 24px;

    &--m {
      margin-bottom: 34px;
    }

    &-group {
      display: flex;
      @include respond(m_m) {
        flex-wrap: wrap;
      }

      .form__field {
        width: 50%;
        @include respond(m_m) {
          width: 100%;
          margin-left: 0 !important;
          margin-right: 0 !important;
        }

        &:nth-child(1) {
          margin-right: 8px;
        }
        &:nth-child(2) {
          margin-left: 8px;
        }
      }
    }

    &-textarea {
      min-height: 175px;

      .form__label {
        font-size: 16px;
        font-weight: 600;
        transform: translateY(-95px);
      }

      &.is-focus {
        .form__label {
          transform: translateY(-95px);
        }
      }
    }
  }


  &__input,
  &__textarea {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: $c-gunmetal;
    font-size: 22px;
    font-family: "SF-Pro-Display", sans-serif;

    &::-webkit-input-placeholder {
      color: $c-heather;
    }
    &::-moz-placeholder {
      color: $c-heather;
    }
    &:-ms-input-placeholder {
      color: $c-heather;
    }
    &:-moz-placeholder {
      color: $c-heather;
    }
  }
  &__textarea {
    resize: none;
    padding-top: 15px;
    line-height: 1.4;
  }


  &__label {
    cursor: default;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    color: $c-hoki;
    font-size: 22px;
    @include transition(color, font-size, transform);

    .is-focus & {
      //color: $c-deepSkyBlue;
      font-size: 16px;
      font-weight: 600;
      transform: translateY(-30px);
      @include transition(color, font-size, transform);
    }
  }


  &__line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $c-aliceBlueDark;


    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
      @include transition(width);

      .is-focus & {
        width: 50%;
        //background-color: $c-deepSkyBlue;
        background-color: $c-hoki;
        @include transition(width);
      }
    }
    &:before {
      left: 50%;
    }
    &:after {
      right: 50%;
    }
  }
}
// COMMON :: END