///
/// ADDITIONALLY
/// ===============
%grid {
  width: $d-all;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

///
/// MAIN
/// ===============
.c-grid {
  @extend %grid;
  width: $d-all;
  max-width: 1310px;

  /// for develop
  @include respond(s) {
    max-width: 1310px;
  }
  @include respond(m) {
    max-width: 1310px;
  }
  @include respond(l) {
    max-width: 1310px;
  }
  @include respond(el) {
    max-width: 1310px;
  }
  @include respond(w) {
    max-width: 1310px;
  }

  &-fluid {
    @extend %grid;
    width: $d-all;
  }
}
