// CONNECT :: START

.connect {
  overflow: hidden;
  position: relative;
  min-height: 1024px;
  background-color: $c-aliceBlue;
  @include respond(m_m) {
    min-height: auto;
    padding-top: 40px;
    padding-bottom: 90px;
  }


  &--thx {
    .connect__wrapper-right {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 1024px;
    }
    .connect__title {
      color: $c-hoki;
    }
  }


  &__bg {
    z-index: 0;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include respond(m_m) {
      display: none;
    }


    &-left,
    &-right {
      height: 100%;
    }
    &-left {
      @include respond(m) {
        width: 40%;
      }
      @include respond(l) {
        width: 50%;
      }
    }
    &-right {
      @include respond(m) {
        width: 60%;
      }
      @include respond(l) {
        width: 50%;
      }
    }


    &-left {
      background-image: url("../img/img-bg-connect__contact.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }


  .c-grid {
    z-index: 1;
    position: relative;
  }


  &__wrapper {
    display: flex;


    &-left {
      @include respond(m_m) {
        display: none;
      }
      @include respond(m) {
        width: 40%;
      }
      @include respond(l) {
        width: 50%;
      }
    }
    &-right {
      @include respond(m_m) {
        width: 100%;
      }
      @include respond(m) {
        width: 60%;
      }
      @include respond(l) {
        width: 50%;
      }
    }


    &-right {
      @include respond(m) {}
      @include respond(l) {}
      @include respond(m) {
        padding-top: 40px;
        padding-left: 30px;
        padding-right: 15px;
      }
      @include respond(w-min) {
        padding-top: 80px;
        padding-left: 80px;
      }
    }
  }
}

// CONNECT :: END