// LOCATION :: START

.location {
  padding-top: 40px;
  padding-bottom: 32px;
  @include respond(m_m) {
    padding-top: 0;
    padding-bottom: 0;
  }


  &__wrapper {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    @include respond(m_m) {
      flex-wrap: wrap;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }


  &__box {
    width: calc(100% / 3);
    min-height: 268px;
    padding-right: 30px;
    @include respond(m_m) {
      width: 50%;
    }
    @include respond(m_s) {
      width: 100%;
    }


    &-title {
      padding-bottom: 32px;
      letter-spacing: 0.36px;
    }


    &-index,
    &-address,
    &-phone,
    &-link {
      font-family: "SF-Pro-Text", sans-serif;
    }


    &-phone,
    &-link {
      font-size: 16px;
    }


    &-phone {
      padding-bottom: 32px;
      color: #607d8b;
    }


    &-link {
      display: inline-block;
      color: #00acff;
      @include transition(color);

      &:last-child {
        margin-left: 24px;
      }

      &:hover {
        color: $c-blackPearl;
        @include transition(color);
      }
    }


    &-index {
      color: $c-sanJuan;
      font-weight: 500;
      @include respond(es) {
        font-size: 16px;
      }
      @include respond(l) {
        font-size: 18px;
      }
    }


    &-address {
      padding-bottom: 16px;
      color: #b0bec5;
    }
  }
}

// LOCATION :: END