// MAIN RESOURCES :: START

section#main.main
  .c-grid
    .main__wrapper

      h1.main__title.title.title--large!= "All things mobile app."
      p.main__subtitle!= "Browse around our gallery of tailored content regarding mobile <br>app development, user experience and usability, mobile marketing & strategy, industry insights and more."



// MAIN RESOURCES :: END