/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
  padding: 0px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}


.hamburger:hover {
  opacity: 0.7;
}


.hamburger-box {
  width: 35px;
  height: 18px;
  display: inline-block;
  position: relative;
}


.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}


.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 35px;
  height: 2px;
  background-color: #181e22;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}


.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}


.hamburger-inner::before {
  top: -8px;
}


.hamburger-inner::after {
  bottom: -8px;
}



.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
       -o-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}


.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  -o-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}


.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}


.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
       -o-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}


.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  -o-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}


.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SF-Pro-Text-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SF-Pro-Text-Heavy.otf") format("opentype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SF-Pro-Text-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SF-Pro-Text-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SF-Pro-Text-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SF-Pro-Text-Semibold.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Heavy.otf") format("opentype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Semibold.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Black.otf") format("opentype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Thin.otf") format("opentype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Ultralight.otf") format("opentype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "SFUIDisplay";
  src: url("../fonts/SFUIDisplay-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "SFUIDisplay";
  src: url("../fonts/SFUIDisplay-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "SFUIDisplay";
  src: url("../fonts/SFUIDisplay-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "SFUIDisplay";
  src: url("../fonts/SFUIDisplay-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "SFUIDisplay";
  src: url("../fonts/SFUIDisplay-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SFUIDisplay";
  src: url("../fonts/SFUIDisplay-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "SFUIDisplay";
  src: url("../fonts/SFUIDisplay-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "SFUIDisplay";
  src: url("../fonts/SFUIDisplay-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "SFUIDisplay";
  src: url("../fonts/SFUIDisplay-Ultralight.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}


html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}


html,
body {
  width: 100%;
  min-height: 100vh;
}


html.is-hideScroll,
body.is-hideScroll {
  overflow: hidden;
}


html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  background-color: #fff;
  line-height: 1.42857143;
  color: #77909c;
  font-size: 14px;
  font-family: "SF-Pro-Display", sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 767px) {
  
  body {
    padding-top: 70px;
  }
}


* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}


button,
input {
  overflow: visible;
}


button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}


[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}


[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


textarea {
  overflow: auto;
}


p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
}


ul {
  margin: 0;
  padding: 0;
}


ul li {
  list-style: none;
}


a {
  outline: none;
  text-decoration: none;
}


input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}


.header--portfolio svg polyline,
.header--portfolio svg path,
.header--contact svg polyline,
.header--contact svg path,
.header--blog svg polyline,
.header--blog svg path {
  fill: #fff;
}


.header--portfolio svg path:last-child,
.header--contact svg path:last-child,
.header--blog svg path:last-child {
  stroke: #fff;
}


.header--portfolio .hamburger-inner, .header--portfolio .hamburger-inner::before, .header--portfolio .hamburger-inner::after,
.header--contact .hamburger-inner,
.header--contact .hamburger-inner::before,
.header--contact .hamburger-inner::after,
.header--blog .hamburger-inner,
.header--blog .hamburger-inner::before,
.header--blog .hamburger-inner::after {
  background-color: #fff;
}


.header--portfolio .nav__desktop.is-show,
.header--contact .nav__desktop.is-show,
.header--blog .nav__desktop.is-show {
  background-color: #181e22;
}


.header--portfolio .nav__link:hover,
.header--contact .nav__link:hover,
.header--blog .nav__link:hover {
  background-color: #f0f8ff;
  color: #181e22;
}


.title {
  line-height: 1.2;
  letter-spacing: 0.36px;
  color: #273238;
  font-weight: bold;
}

@media screen and (min-width: 320px) {
  
  .title {
    font-size: 35px;
  }
}

@media screen and (min-width: 992px) {
  
  .title {
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  
  .title {
    font-size: 46px;
  }
}

@media screen and (min-width: 1440px) {
  
  .title {
    font-size: 52px;
  }
}

@media screen and (min-width: 1600px) {
  
  .title {
    font-size: 58px;
  }
}

@media screen and (min-width: 320px) {
  
  .title--medium {
    font-size: 35px;
  }
}

@media screen and (min-width: 992px) {
  
  .title--medium {
    font-size: 40px;
  }
}


.title--large {
  font-size: 78px;
}

@media screen and (min-width: 320px) {
  
  .title--large {
    font-size: 35px;
  }
}

@media screen and (min-width: 992px) {
  
  .title--large {
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  
  .title--large {
    font-size: 46px;
  }
}

@media screen and (min-width: 1440px) {
  
  .title--large {
    font-size: 52px;
  }
}

@media screen and (min-width: 1600px) {
  
  .title--large {
    font-size: 58px;
  }
}

@media screen and (min-width: 1920px) {
  
  .title--large {
    font-size: 78px;
  }
}


.btn {
  overflow: hidden;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 64px;
  padding-left: 32px;
  padding-right: 32px;
  -webkit-border-radius: 38px;
          border-radius: 38px;
  border: 2px solid #cfd8dc;
  background-color: transparent;
  color: #77909c;
  font-size: 18px;
  font-weight: 500;
  font-family: "SF-Pro-Text", sans-serif;
  -webkit-transition: border-color 0.25s ease-in-out, color 0.25s ease-in-out;
  -o-transition: border-color 0.25s ease-in-out, color 0.25s ease-in-out;
  transition: border-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

@media screen and (max-width: 767px) {
  
  .btn {
    font-size: 16px;
  }
}


.btn:hover {
  border-color: #273238;
  color: #273238;
  -webkit-transition: border-color 0.25s ease-in-out, color 0.25s ease-in-out;
  -o-transition: border-color 0.25s ease-in-out, color 0.25s ease-in-out;
  transition: border-color 0.25s ease-in-out, color 0.25s ease-in-out;
}


.btn:hover i {
  -webkit-animation-name: slideArrowRight;
          animation-name: slideArrowRight;
}


.btn span {
  margin-right: 16px;
}


.btn i {
  background-image: url(../img/sprite.png);
  background-position: -49px 0px;
  width: 18px;
  height: 13px;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  
  .btn i {
    background-image: url(../img/sprite@2x.png);
    -webkit-background-size: 67px 53px;
            background-size: 67px 53px;
  }
}

@-webkit-keyframes slideArrowRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(50px, 0, 0);
            transform: translate3d(50px, 0, 0);
  }
}

@keyframes slideArrowRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(50px, 0, 0);
            transform: translate3d(50px, 0, 0);
  }
}


.c-grid, .c-grid-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.c-grid {
  width: 100%;
  max-width: 1310px;
}

@media screen and (min-width: 576px) {
  
  .c-grid {
    max-width: 1310px;
  }
}

@media screen and (min-width: 768px) {
  
  .c-grid {
    max-width: 1310px;
  }
}

@media screen and (min-width: 992px) {
  
  .c-grid {
    max-width: 1310px;
  }
}

@media screen and (min-width: 1200px) {
  
  .c-grid {
    max-width: 1310px;
  }
}

@media screen and (min-width: 1366px) {
  
  .c-grid {
    max-width: 1310px;
  }
}


.c-grid-fluid {
  width: 100%;
}


.logo__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}


.nav__mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  
  .nav__mobile {
    display: block;
  }
}


.nav__desktop {
  display: block;
}

@media screen and (max-width: 767px) {
  
  .nav__desktop {
    display: none;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
  }
  
  .nav__desktop.is-show {
    z-index: 100;
    overflow-y: auto;
    display: block;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: -webkit-calc(100% - 70px);
    height: calc(100% - 70px);
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
  }
}


.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  
  .is-show .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }
}


.nav__item:first-child .nav__link {
  margin-left: 0;
}


.nav__item:last-child .nav__link {
  margin-right: 0;
}


.nav__link {
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  -webkit-border-radius: 2em;
          border-radius: 2em;
  background-color: transparent;
  color: #77909c;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

@media screen and (min-width: 768px) {
  
  .nav__link {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
}

@media screen and (min-width: 992px) {
  
  .nav__link {
    padding-left: 18px;
    padding-right: 18px;
    margin-left: 15px;
    margin-right: 15px;
  }
}


.nav__link:hover {
  background-color: #77909c;
  color: #fff;
  -webkit-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}


.copyright {
  color: #546e7a;
  font-family: "SF-Pro-Text", sans-serif;
}

@media screen and (max-width: 575px) {
  
  .copyright {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  
  .social {
    width: 100%;
    padding-bottom: 30px;
  }
}


.social__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 575px) {
  
  .social__list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}


.social__item:first-child .social__link {
  margin-left: 0;
}


.social__item:last-child .social__link {
  margin-right: 0;
}


.social__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 4px;
  margin-right: 4px;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}


.social__link:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}


.social__icon--fb {
  background-image: url(../img/sprite.png);
  background-position: 0px -37px;
  width: 10px;
  height: 16px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  
  .social__icon--fb {
    background-image: url(../img/sprite@2x.png);
    -webkit-background-size: 67px 53px;
            background-size: 67px 53px;
  }
}


.social__icon--tw {
  background-image: url(../img/sprite.png);
  background-position: -49px -18px;
  width: 16px;
  height: 14px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  
  .social__icon--tw {
    background-image: url(../img/sprite@2x.png);
    -webkit-background-size: 67px 53px;
            background-size: 67px 53px;
  }
}


.social__icon--ln {
  background-image: url(../img/sprite.png);
  background-position: -27px 0px;
  width: 17px;
  height: 16px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  
  .social__icon--ln {
    background-image: url(../img/sprite@2x.png);
    -webkit-background-size: 67px 53px;
            background-size: 67px 53px;
  }
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


.header--portfolio, .header--contact, .header--blog {
  background-color: #181e22;
}


.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100px;
}

@media screen and (max-width: 767px) {
  
  .header__wrapper {
    min-height: 70px;
  }
}


.footer {
  padding-top: 75px;
  min-height: 336px;
}

@media screen and (max-width: 767px) {
  
  .footer {
    padding-top: 37px;
  }
}


.footer__wrapper-0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 64px;
}

@media screen and (max-width: 991px) {
  
  .footer__wrapper-0 {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  
  .footer__wrapper-0 {
    padding-bottom: 32px;
  }
}


.footer__wrapper-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
}

@media screen and (max-width: 575px) {
  
  .footer__wrapper-1 {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}


.footer__col {
  width: 100%;
}

@media screen and (max-width: 767px) {
  
  .footer__col-0 {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 575px) {
  
  .footer__col-0 .logo__link {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  
  .footer__col-0 {
    max-width: 100%;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 992px) {
  
  .footer__col-0 {
    max-width: 254px;
    padding-right: 89px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  
  .footer__col-0 {
    max-width: 304px;
    padding-right: 139px;
  }
}

@media screen and (min-width: 1366px) {
  
  .footer__col-0 {
    max-width: 404px;
    padding-right: 239px;
  }
}


.footer__col-1, .footer__col-2 {
  max-width: 324px;
  padding-right: 24px;
}

@media screen and (max-width: 767px) {
  
  .footer__col-1, .footer__col-2 {
    max-width: 50%;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 992px) {
  
  .footer__col-1, .footer__col-2 {
    max-width: 254px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  
  .footer__col-1, .footer__col-2 {
    max-width: 324px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  
  .footer__col-3 {
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  
  .footer__col-3 {
    max-width: -webkit-calc(100% - (254px + (254px * 2)));
    max-width: calc(100% - (254px + (254px * 2)));
  }
}

@media screen and (min-width: 1200px) {
  
  .footer__col-3 {
    max-width: -webkit-calc(100% - (304px + (324px * 2)));
    max-width: calc(100% - (304px + (324px * 2)));
  }
}

@media screen and (min-width: 1366px) {
  
  .footer__col-3 {
    max-width: -webkit-calc(100% - (404px + (324px * 2)));
    max-width: calc(100% - (404px + (324px * 2)));
  }
}

@media screen and (min-width: 768px) {
  
  .footer__col-1, .footer__col-2, .footer__col-3 {
    max-width: -webkit-calc(100% / 3);
    max-width: calc(100% / 3);
    padding-right: 15px;
  }
}

@media screen and (max-width: 575px) {
  
  .footer__col-1, .footer__col-2, .footer__col-3 {
    max-width: 100%;
    padding-right: 0;
    text-align: center;
  }
}


.footer__nav {
  padding-top: 5px;
  font-family: "SF-Pro-Text", sans-serif;
}

@media screen and (max-width: 575px) {
  
  .footer__nav {
    padding-top: 0;
    padding-bottom: 32px;
  }
}


.footer__nav p {
  padding-bottom: 32px;
  color: #273238;
  text-transform: uppercase;
  font-weight: bold;
}


.footer__nav-item:last-child .footer__nav-link {
  margin-bottom: 0;
}


.footer__nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 230px;
  min-height: 24px;
  margin-bottom: 16px;
  color: #546e7a;
  -webkit-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

@media screen and (max-width: 575px) {
  
  .footer__nav-link {
    max-width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}


.footer__nav-link:hover {
  color: #273238;
  -webkit-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}


.footer__line {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0;
  border-top: 1px aliceblue;
  background-color: transparent;
}


.home .main__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 692px;
}

@media screen and (max-width: 767px) {
  
  .home .main__wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  
  .home .main__wrapper {
    min-height: 550px;
  }
}

@media screen and (min-width: 992px) {
  
  .home .main__wrapper {
    min-height: 692px;
  }
}


.home .main__wrapper-left, .home .main__wrapper-right {
  width: 50%;
}

@media screen and (max-width: 767px) {
  
  .home .main__wrapper-left, .home .main__wrapper-right {
    width: 100%;
  }
}


.home .main__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}


.home .main__title {
  padding-top: 184px;
  padding-bottom: 56px;
}

@media screen and (max-width: 767px) {
  
  .home .main__title {
    padding-top: 92px;
    padding-bottom: 26px;
  }
}

@media screen and (max-width: 767px) {
  
  .home .main__btn {
    margin-bottom: 30px;
  }
}


.home .main__img {
  display: block;
  max-width: 100%;
  height: auto;
}


.solve {
  background-color: #181e22;
}


.solve__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 1006px;
}

@media screen and (max-width: 767px) {
  
  .solve__wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}


.solve__wrapper-left, .solve__wrapper-right {
  width: 50%;
}

@media screen and (max-width: 767px) {
  
  .solve__wrapper-left, .solve__wrapper-right {
    width: 100%;
  }
}


.solve__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}


.solve__title {
  padding-top: 194px;
  padding-bottom: 40px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  
  .solve__title {
    padding-top: 97px;
    padding-bottom: 30px;
  }
}


.solve__subtitle {
  width: 100%;
  max-width: 470px;
  letter-spacing: 0.23px;
  color: #cfd8dc;
  font-size: 22px;
  font-weight: 500;
}


.solve__img {
  display: block;
  max-width: 100%;
  height: auto;
}


.portfolio .main {
  background-color: #181e22;
}


.portfolio .main__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 692px;
}

@media screen and (max-width: 767px) {
  
  .portfolio .main__wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  
  .portfolio .main__wrapper {
    min-height: 550px;
  }
}

@media screen and (min-width: 992px) {
  
  .portfolio .main__wrapper {
    min-height: 692px;
  }
}


.portfolio .main__wrapper-left, .portfolio .main__wrapper-right {
  width: 50%;
}

@media screen and (max-width: 767px) {
  
  .portfolio .main__wrapper-left, .portfolio .main__wrapper-right {
    width: 100%;
  }
}


.portfolio .main__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}


.portfolio .main__title {
  padding-top: 241px;
  padding-bottom: 135px;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 767px) {
  
  .portfolio .main__title {
    padding-top: 120px;
    padding-bottom: 65px;
  }
}


.portfolio .main__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 22px;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
}


.portfolio .main__btn i {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 22px;
  height: 32px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  
  .portfolio .main__btn i {
    background-image: url(../img/sprite@2x.png);
    -webkit-background-size: 67px 53px;
            background-size: 67px 53px;
  }
}


.portfolio .main__img {
  display: block;
  max-width: 100%;
  height: auto;
}


.contact .main {
  background-color: #181e22;
}


.contact .main__wrapper {
  min-height: 460px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  
  .contact .main__wrapper {
    min-height: 350px;
  }
}


.contact .main__subtitle {
  padding-top: 128px;
  padding-bottom: 8px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #455a64;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  
  .contact .main__subtitle {
    padding-top: 104px;
    font-size: 16px;
  }
}


.contact .main__title {
  color: #fff;
}


.resources .main__wrapper {
  min-height: 400px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  
  .resources .main__wrapper {
    min-height: 350px;
  }
}


.resources .main__subtitle {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: #546e7a;
  font-size: 22px;
  font-weight: normal;
  font-family: "SF-Pro-Text", sans-serif;
}

@media screen and (max-width: 767px) {
  
  .resources .main__subtitle {
    font-size: 18px;
  }
}


.resources .main__title {
  padding-top: 86px;
  padding-bottom: 34px;
}


.blog .main {
  background-color: #181e22;
}


.blog .main__wrapper {
  min-height: 460px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  
  .blog .main__wrapper {
    min-height: 350px;
  }
}


.blog .main__subtitle {
  padding-top: 128px;
  padding-bottom: 8px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #455a64;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  
  .blog .main__subtitle {
    padding-top: 104px;
    font-size: 16px;
  }
}


.blog .main__title {
  color: #fff;
}

/*# sourceMappingURL=maps/app.css.map */
