// ENTERPRISES :: START

.enterprises {
  overflow: hidden;
  background-color: $c-atomic;


  &__wrapper {
    display: flex;
    flex-wrap: wrap;

    &-left,
    &-right {
      width: 50%;
      @include respond(m_m) {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      @include respond(m) {
        padding-top: 60px;
        padding-bottom: 60px;
      }
      @include respond(l) {
        padding-top: 90px;
        padding-bottom: 90px;
      }
      @include respond(el) {
        padding-top: 120px;
        padding-bottom: 120px;
      }
    }
    &-left {
      @include respond(m_m) {
        border-bottom: 1px solid $c-bismark;
      }
      @include respond(m) {
        padding-right: 60px;
        border-right: 1px solid $c-bismark;
      }
      @include respond(l) {
        padding-right: 90px;
      }
      @include respond(el) {
        padding-right: 120px;
      }
    }
    &-right {
      @include respond(m) {
        padding-left: 60px;
      }
      @include respond(l) {
        padding-left: 90px;
      }
      @include respond(el) {
        padding-left: 120px;
      }
    }
  }


  &__title {
    padding-bottom: 39px;
    color: $c-white;
  }


  &__text {
    width: 100%;
    max-width: 454px;
    color: $c-heather;
    font-size: 22px;
    @include respond(m_m) {
      font-size: 20px;
    }
  }
}

// ENTERPRISES :: END