// FOOTER :: START

footer#footer.footer
  .c-grid
    .footer__wrapper.footer__wrapper-0

  hr.footer__line

  .c-grid
    .footer__wrapper.footer__wrapper-1

      include ../macros/_copyright

      include ../macros/_social

// FOOTER :: END