// HEADER :: START

header#header.header.viewport-hide-js(
  class!= "header--" + contentClassName
  data-animation-name="slideInDown"
)
  .c-grid
    .header__wrapper

      include ../macros/_logotype
      include ../macros/_nav


// HEADER :: END