---
title: Guarana - Blog
favicon: favicon

contentClassName: blog
dataPageName: blog

additionalStyleFile: false
---
extends shared/_layout

block content
  div(class!= contentClassName)

    include ./components/blog/_main
    include ./components/blog/_bbox
    include ./macros/_values
    include ./macros/_top