---
title: Guarana - Concept
favicon: favicon

contentClassName: concept
dataPageName: concept

additionalStyleFile: false
---
extends shared/_layout

block content
  div(class!= contentClassName)

    include ./components/concept/_main
    include ./components/concept/_cblock
    include ./components/concept/_startups
    include ./macros/_top