---
title: Guarana - Portfolio Single
favicon: favicon

contentClassName: portfolioSingle
dataPageName: portfolioSingle

additionalStyleFile: false
---
extends shared/_layout

block content
  div(class!= contentClassName)

    include ./components/portfolioSingle/_main
    include ./components/portfolioSingle/_ins
    include ./macros/_project
    include ./macros/_values
    include ./macros/_top