---
title: Guarana - Portfolio
favicon: favicon

contentClassName: portfolio
dataPageName: portfolio

additionalStyleFile: false
---
extends shared/_layout

block content
  div(class!= contentClassName)

    include ./components/portfolio/_main
    include components/portfolio/_category
    include components/portfolio/_project
    include ./macros/_values
    include ./macros/_top