---
title: Guarana - Resources
favicon: favicon

contentClassName: resources
dataPageName: resources

additionalStyleFile: false
---
extends shared/_layout

block content
  div(class!= contentClassName)

    include ./components/resources/_main
    include ./macros/_values