---
title: Guarana - Technology
favicon: favicon

contentClassName: technology
dataPageName: technology

additionalStyleFile: false
---
extends shared/_layout

block content
  div(class!= contentClassName)

    include ./components/technology/_main