// HEADER :: START

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $c-white;


  &--resources {
    background-color: #F9FAFB;
  }


  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    @include respond(m_m) {
      min-height: 70px;
    }
  }
}

// HEADER :: END