// MAIN PORTFOLIO :: START

.portfolio {
  .main {
    position: relative;
    background-color: $c-blackPearl;


    &__bg {
      z-index: 0;
      position: absolute;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }


    &__wrapper {
      z-index: 1;
      position: relative;
      display: flex;
      min-height: 692px;
      @include respond(m_m) {
        flex-wrap: wrap;
      }

      &-left,
      &-right {
        width: 50%;
        @include respond(m_m) {
          width: 100%;
        }
      }
      &-right {
        display: flex;
        align-items: flex-end;
      }
    }


    &__title {
      color: $c-white;
      text-align: center;
      @include respond(m_m) {
        padding-top: 120px;
        padding-bottom: 65px;
      }
      @include respond(m) {
        padding-top: 200px;
        padding-bottom: 85px;
      }
      @include respond(l) {
        padding-top: 241px;
        padding-bottom: 135px;
      }
    }


    &__btn {
      display: flex;
      width: 22px;
      height: 32px;
      margin-left: auto;
      margin-right: auto;

      &:hover {
        opacity: 0.75;
        @include transition(opacity);
      }

      i {
        @include retina-sprite($sp-arrow-bottom-group);
        @include transition(opacity);
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
      }
    }


    &__img {
      display: block;
      max-width: 100%;
      height: auto;
      @include respond(m) {
        transform: translateX(20%);
      }
      @include respond(l) {
        transform: translateX(0);
      }
    }
  }
}

// MAIN PORTFOLIO :: END