// DESCRIPTION :: START

section#description.description
  .c-grid
    .description__wrapper

      +descriptionText(
        "If you can't make it and bring it to<br>life, you can't understand it",
        "With designers and developers in the same room, working together throughout the lifecycle of our projects, we enable more innovative design solutions and bring concepts to life quickly and confidently."
      )

// DESCRIPTION :: END