// DESCRIPTION :: START

section#description.description.description--2
  .c-grid
    .description__wrapper

      +descriptionText(
        "App Features",
        "When you work with us, you benefit from our cutting-edge knowledge and cumulative experience with Android and iOS."
      )

// DESCRIPTION :: END