// DESCRIPTION :: START

section#description.description
  .c-grid
    .description__wrapper

      +descriptionText(
        "Mobile & Web App<br>Programming Languages",
        "We have all the know how needed to help you innovate faster and lead your industry."
      )

// DESCRIPTION :: END