// MAIN TECHNOLOGY :: START

section#main.main
  .c-grid
    .main__wrapper

      p.main__subtitle!= "Technology"
      h1.main__title.title.title--large!= "We answer great design with <br>strong technology"


// MAIN TECHNOLOGY :: END