// MAIN TECHNOLOGY :: START

section#main.main
  .c-grid
    .main__wrapper

      p.main__subtitle.viewport-hide-js!= "Technology"
      h1.main__title.title.title--large.viewport-hide-js!= "We answer great design with <br>strong technology"


// MAIN TECHNOLOGY :: END