// STARTUPS :: START

section#startups.startups
  .c-grid
    .startups__wrapper

      p.startups__title.title.title--medium.viewport-hide-js!= "Give your app development project the passionate tech team it deserves"

      +btn("startups__btn viewport-hide-js", "Kickstart Your Project")


// STARTUPS :: END