// NAV :: START

.nav {


  &__mobile {
    display: none;
    @include respond(m_m) {
      display: block;
    }
  }


  &__desktop {
    display: block;
    @include respond(m_m) {
      display: none;
      animation-duration: 0.3s;

      &.is-show {
        z-index: 100;
        overflow-y: auto;
        display: block;
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        height: calc(100% - 70px);
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: $c-white;
        animation-name: zoomIn;
      }
    }
  }


  &__list {
    display: flex;

    @include respond(m_m) {
      .is-show & {
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }


  &__item {
    &:first-child {
      .nav__link {
        margin-left: 0;
      }
    }
    &:last-child {
      .nav__link {
        margin-right: 0;
      }
    }
  }


  &__link {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 2em;
    background-color: transparent;
    color: $c-bermudaGrey;
    font-size: 16px;
    font-weight: 500;
    @include transition(background-color, color);
    @include respond(m) {
      padding-left: 12px;
      padding-right: 12px;
      margin-left: 7.5px;
      margin-right: 7.5px;
    }
    @include respond(l) {
      padding-left: 18px;
      padding-right: 18px;
      margin-left: 15px;
      margin-right: 15px;
    }

    &:hover {
      background-color: $c-bermudaGrey;
      color: $c-white;
      @include transition(background-color, color);

      .header--portfolio & {
        background-color: $c-aliceBlue;
        color: $c-blackPearl;
      }
    }
  }
}

// NAV :: END