// PROJECT :: START

.project {
  &__title {
    padding-top: 160px;
    padding-bottom: 80px;
    text-align: center;
    @include respond(m_m) {
      padding-top: 80px;
      padding-bottom: 40px;
    }
  }


  &__case {
    overflow: hidden;
    position: relative;
    min-height: 600px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 24px;
    @include respond(m_s) {
      min-height: 0;
      padding-right: 15px;
      padding-left: 15px;
    }

    .c-grid {
      z-index: 1;
      position: relative;
      display: flex;
      @include respond(m_m) {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
      }
    }

    &-0,
    &-2 {
      .project__case-left {
        @include respond(m_m) {
          padding: 48px 24px;
        }
        @include respond(m_s) {
          padding: 30px 15px;
        }
      }
      .project__case-right {
        @include respond(m_m) {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
        }
      }
    }

    &-1,
    &-3 {
      .project__case-left {
        @include respond(m_m) {
          order: 2;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
        }
      }
      .project__case-right {
        @include respond(m_m) {
          order: 1;
          padding: 48px 24px;
        }
        @include respond(m_s) {
          padding: 30px 15px;
        }
      }
    }

    &-0 {
      .project__case-bg {
        background-color: #1a7cff;

        &--left {
          width: 40%;
        }
        &--right {
          width: 60%;

          img {
            bottom: 0;
            right: 0;
          }
        }
      }

      .project__case-left {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 600px;
        width: 40%;
      }
      .project__case-right {
        width: 60%;
      }
    }
    &-1 {
      .project__case-bg {
        background-color: #f24445;

        &--left {
          width: 60%;

          img {
            bottom: 0;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
          }
        }
        &--right {
          width: 40%;
        }
      }

      .project__case-left {
        width: 60%;
      }
      .project__case-right {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 600px;
        width: 40%;
      }
    }
    &-2 {
      .project__case-bg {
        background-color: #234da3;

        &--left {
          width: 40%;
        }
        &--right {
          width: 60%;

          img {
            bottom: 0;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      .project__case-left {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 600px;
        width: 40%;
      }
      .project__case-right {
        width: 60%;
      }
    }
    &-3 {
      .project__case-bg {
        background-color: #39357a;

        &--left {
          width: 60%;

          img {
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }
        }
        &--right {
          width: 40%;
        }
      }

      .project__case-left {
        width: 60%;
      }
      .project__case-right {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 600px;
        width: 40%;
      }
    }

    &-bg {
      overflow: hidden;
      z-index: 0;
      position: absolute;
      top: 0;
      left: 24px;
      width: calc(100% - 48px);
      height: 100%;
      @include respond(m_s) {
        left: 15px;
        width: calc(100% - 30px);
      }

      &--left,
      &--right {
        position: absolute;
        top: 0;
        height: 100%;
        padding-left: 30px;
        padding-right: 30px;
        @include respond(m_m) {
          display: none;
        }
      }
      &--left {
        left: 0;
      }
      &--right {
        right: 0;
      }

      img {
        position: absolute;
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    &-left,
    &-right {
      @include respond(m_m) {
        width: 100% !important;
        min-height: 0 !important;
        height: auto;
      }
      img {
        display: none;
        max-width: 100%;
        height: auto;
        @include respond(m_m) {
          display: block;
        }
      }
    }

    &-title {
      padding-bottom: 32px;
      color: $c-white;
    }

    &-text {
      padding-bottom: 40px;
      letter-spacing: 0.23px;
      color: rgba($c-white, 0.5);
      font-size: 22px;
      @include respond(m_m) {
        font-size: 18px;
      }
    }

    &-btn {
      border-color: rgba($c-white, 0.1);
      color: $c-white;

      &:hover {
        border-color: $c-white;
        color: $c-white;

        span {
          opacity: 0.75;
        }
      }
    }
  }
}

// PROJECT :: END