// TOP :: START

.top {
  background-color: $c-gunmetal;

  &__wrapper {
    position: relative;
    min-height: 785px;
    padding-top: 120px;
    padding-bottom: 120px;

    @include respond(m_m) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @include respond(es) {
      min-height: 485px;
    }
    @include respond(s) {
      min-height: 585px;
    }
    @include respond(m) {
      min-height: 685px;
    }
    @include respond(l) {
      min-height: 785px;
    }


    svg {
      z-index: 0;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}

// TOP :: END