// NAV :: START

-
  var navLink = [
    {
      href: "#",
      name: "Our Story"
    },
    {
      href: "#",
      name: "Services"
    },
    {
      href: "#",
      name: "Technology"
    },
    {
      href: "portfolio.html",
      name: "Portfolio"
    },
    {
      href: "contact.html",
      name: "Contact"
    }
  ];

nav.nav
  .nav__mobile
    include ../macros/_hamburger

  .nav__desktop.animated
    ul.nav__list
      each val, idx in navLink
        li.nav__item
          a.nav__link(href!= navLink[idx].href class="" title="")!= navLink[idx].name

// NAV :: END