// NAV :: START

-
  var navLink = [
    {
      href: "story.html",
      name: "Our Story"
    },
    {
      href: "services.html",
      name: "Services"
    },
    {
      href: "technology.html",
      name: "Technology"
    },
    {
      href: "portfolio.html",
      name: "Portfolio"
    },
    {
      href: "contact.html",
      name: "Contact"
    }
  ];

mixin link(classMod, attr, val)
  a.nav__link(
    href!= attr
    class= classMod
    title=""
  )!= val

nav.nav
  .nav__mobile
    include ../macros/_hamburger

  .nav__desktop.animated
    ul.nav__list
      each val, idx in navLink
        li.nav__item
          if(contentClassName === "story" && idx === 0)
            +link("is-active", navLink[idx].href, navLink[idx].name)
          else if(contentClassName === "services" && idx === 1)
            +link("is-active", navLink[idx].href, navLink[idx].name)
          else if(contentClassName === "technology" && idx === 2)
            +link("is-active", navLink[idx].href, navLink[idx].name)
          else if(contentClassName === "portfolio" && idx === 3)
            +link("is-active", navLink[idx].href, navLink[idx].name)
          else if(contentClassName === "contact" && idx === 4)
            +link("is-active", navLink[idx].href, navLink[idx].name)
          else
            +link("", navLink[idx].href, navLink[idx].name)

// NAV :: END