// VALUES :: START

section#values.values
  .c-grid
    .values__wrapper
      .values__left
        h1.values__title.title.title--elarge!= "Our values"

      .values__right

        include ../macros/_swiperValues

// VALUES :: END