// CONNECT :: START

section#connect.connect

  .connect__bg
    .connect__bg-left
    .connect__bg-right

  .c-grid
    .connect__wrapper
      .connect__wrapper-left
      .connect__wrapper-right

        form(action="" method="" autocomplete="off")

          +btn("connect__btn", "Send message")

// CONNECT :: END