// CONNECT :: START

section#connect.connect.connect--thx

  .connect__bg
    .connect__bg-left
    .connect__bg-right

  .c-grid
    .connect__wrapper
      .connect__wrapper-left
      .connect__wrapper-right

        p.connect__title.title.title--medium!= "Thank you for your message"

// CONNECT :: END