// MAIN BLOG :: START

section#main.main
  .c-grid
    .main__wrapper

      p.main__subtitle!= "App Marketing"
      h1.main__title.title.title--large!= "Acquiring and retaining users"


// MAIN BLOG :: END