// PLANG :: START

.plang {
  background-color: $c-aliceBlue;


  .c-grid {
    max-width: 1392px;
  }


  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }


  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    background-color: $c-white;
    @include respond(es) {
      width: 100%;
      height: 300px;
      margin-left: 0;
      margin-right: 0;
      padding: 50px 45px;
    }
    @include respond(s) {
      width: calc((100% / 2) - 24px);
      height: 300px;
      margin-left: 12px;
      margin-right: 12px;
      padding: 40px 30px;
    }
    @include respond(m) {
      width: calc((100% / 3) - 24px);
      height: 290px;
      padding: 35px 30px;
    }
    @include respond(l) {
      width: calc((100% / 4) - 24px);
      height: 280px;
      padding: 30px 15px;
    }
    @include respond(el) {
      height: 280px;
      padding: 40px 25px;
    }
    @include respond(w-min) {
      height: 330px;
      padding: 50px 45px;
    }

    &-img {
      height: 96px;
      margin-bottom: 56px;
      @include respond(m) {
        margin-bottom: 36px;
      }
      @include respond(el) {
        margin-bottom: 46px;
      }
      @include respond(w-min) {
        margin-bottom: 56px;
      }
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      text-align: center;
      color: $c-hoki;
      font-size: 32px;
      font-weight: 600;
      font-family: "SF-Pro-Text", sans-serif;
      @include respond(s) {
        font-size: 20px;
      }
      @include respond(m) {
        font-size: 24px;
      }
      @include respond(el) {
        font-size: 32px;
      }
    }
  }
}

// PLANG :: END