// SPECIFICATION :: START

.specification {
  padding-top: 128px;
  padding-bottom: 20px;


  &__title {
    padding-bottom: 106px;
    text-align: center;
    color: $c-pattensBlue;
    @include respond(m_m) {
      padding-bottom: 53px;
    }
  }


  &__wrapper {
    &-0,
    &-1,
    &-2 {
      .specification__row {
        padding-bottom: 43px;
      }
    }
  }


  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 136px;
    @include respond(m_m) {
      padding-bottom: 68px;
    }
  }


  &__block {
    width: 100%;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &-wrap {
      width: calc(100% / 3);
      margin-bottom: 93px;
    }

    &-title {
      padding-bottom: 16px;
      color: $c-gunmetal;
      font-size: 24px;
      font-weight: bold;
    }

    &-line {
      width: 40px;
      height: 2px;
      padding: 0;
      margin-bottom: 16px;
      margin-left: auto;
      margin-right: auto;
      border: none;
      box-shadow: none;
      border-radius: 2px;
      background-color: $c-pattensBlue;
    }

    &-text {
      color: $c-bermudaGrey;
      font-size: 16px;
      font-family: "SF-Pro-Text", sans-serif;
    }
  }
}

// SPECIFICATION :: END